<app-facture-list (clickEvent)="receiveFacture($event)"></app-facture-list>
<section class="inadmin" *ngIf="factureDto">
  <h4>Détails de la facture</h4> <br>
  <p>Client : {{client?.nomClient}} {{client?.prenomClient}}</p>
  <p>Paiement :{{paiement?.nomPaiement}}</p>
  <p>Ref. {{factureDto.refFacture}}</p>
  <p>Date {{factureDto.dateHeure | date: 'short'}}</p>
  <p>Articles</p>
  <div *ngFor="let faArt of displayArticles, let i = index">{{i+1}} {{faArt.art}} | {{faArt.des}} {{faArt.qty}} pc. | {{faArt.montLigne}} €</div>
  <p>Total HT {{factureDto.total | number: '1.2-2'}} €</p>
  <p>TVA {{factureDto.totalTva | number: '1.2-2'}} €</p>
  <p>Total TTC {{factureDto.totalTTC | number: '1.2-2'}} €</p>
</section>



