<h3>Menu</h3>
<button (click)="router.navigateByUrl('dashboard/vue/articles')">Articles</button>
<button (click)="router.navigateByUrl('dashboard/vue/clients')">Clients</button>
<button (click)="router.navigateByUrl('dashboard/vue/utilisateurs')">Utilisateurs</button>
<button (click)="router.navigateByUrl('dashboard/vue/factures')">Nouvelle facture</button>
<button (click)="router.navigateByUrl('dashboard/vue/facture-view')">Consulter une facture</button>
<br>
<button (click)="router.navigateByUrl('/dashboard/vue')">Accueil</button>
<button (click)="onLogout()">Se déconnecter</button>
