<app-articles-list (clickEvent)="receiveArticle($event)"></app-articles-list>
<section class="inadmin">
  <h4>Modifier, ajouter ou supprimer des articles</h4>
  <p>Sélectionner un article pour modifier</p>
  <section class="modifier" *ngIf="article">
    <form [formGroup]="formulaireMod" (ngSubmit)="onModify()">
      <label of="idArticle">ID article </label>
      <input formControlName="idArticle" disabled> <br>
      <label of="nomArticle">Désignation </label>
      <input formControlName="nomArticle"> <br>
      <label of="descArticle">Description </label>
      <input formControlName="descArticle"> <br>
      <label of="stock">Stock </label>
      <input type="number" min="0" formControlName="stock"> <br>
      <label of="prixUnitaire">P.U. </label>
      <input type="number" min="0" formControlName="prixUnitaire"> <br>
      <label of="codeEAN">Code EAN </label>
      <input type="number" formControlName="codeEAN"> <br>
      <label of="idTva">TVA</label>
      <select formControlName="idTva">
        <option *ngFor="let tva of tvas" value={{tva.idTva}}>{{ tva.nom }}</option>
      </select>
      <br>
      <button type="submit" [disabled]="formulaireMod.pristine || formulaireMod.invalid">Modifier</button>
    </form>
    <p *ngIf="nope && !success">{{ nope }}</p>
    <p *ngIf="success && !nope">Mise à jour effectuée !</p>
    <button (click)="onDelete()">Supprimer l'article</button>
  </section>
  <br>

  <button (click)="onShowAddSection()">Ajouter un article</button>

  <section *ngIf="showAdd" class="ajouter">
    <form [formGroup]="formulaireAdd" (ngSubmit)="onAdd()">
      <label of="nomArticle">Désignation </label>
      <input formControlName="nomArticle"> <br>
      <label of="descArticle">Description </label>
      <input formControlName="descArticle"> <br>
      <label of="stock">Stock </label>
      <input type="number" min="0" formControlName="stock"> <br>
      <label of="prixUnitaire">P.U. </label>
      <input type="number" min="0" formControlName="prixUnitaire"> <br>
      <label of="codeEAN">Code EAN </label>
      <input type="number" formControlName="codeEAN"> <br>
      <label of="idTva">TVA</label>
      <select formControlName="idTva">
        <option *ngFor="let tva of tvas" value={{tva.idTva}}>{{ tva.nom }}</option>
      </select>
      <br>
      <button type="submit" [disabled]="formulaireAdd.pristine || formulaireAdd.invalid">Ajouter</button>
    </form>
    <p *ngIf="nope && !success">{{ nope }}</p>
    <p *ngIf="success && !nope">Article ajouté !</p>
  </section>
</section>
