<app-clients-list (clickEvent)="receiveClient($event)"></app-clients-list>
<section class="inadmin">
  <h4>Modifier, ajouter ou supprimer des clients</h4>
  <p>Sélectionnez un client pour modifier</p>
  <section class="modifier" *ngIf="clientDto">
    <form [formGroup]="formulaireMod" (ngSubmit)="onModify()">
      <label of="nomClient">Nom</label>
      <input formControlName="nomClient"> <br>
      <label of="prenomClient">Prénom</label>
      <input formControlName="prenomClient"> <br>
      <label of="telephoneClient">Téléphone</label>
      <input formControlName="telephoneClient" type="number" min="0"> <br>
      <label of="dateNaissanceClient">Date de naissance</label>
      <input formControlName="dateNaissanceClient" type="date">
      <br>
      <button type="submit" [disabled]="formulaireMod.pristine || formulaireMod.invalid">Modifier</button>
    </form>
    <p *ngIf="nope && !success">{{ nope }}</p>
    <p *ngIf="success && !nope">Mise à jour effectuée !</p>
    <br>
    <button (click)="onDelete()">Supprimer le client</button>
    <br>
    <p>Gérer les adresses</p>
    <section style="font-size: 13px; border: 1px dimgrey solid; padding: 2px">
      <p *ngFor="let adss of adressesDtos" (click)="onSelectAdss(adss)">{{adss.rue}} {{adss.numero}} {{adss.ville}} <button (click)="onDeleteAd(adss)">-</button></p>
      <button (click)="initAdresses()">Mettre à jour la liste</button>
      <br><br><br>

      <form [formGroup]="formulaireAdresse">
        <input formControlName="rue" placeholder="Rue"> <br>
        <input formControlName="numero" placeholder="Numéro" type="number" min="0">
        <input formControlName="complementNumero" placeholder="Complément">
        <input formControlName="codePostal" placeholder="Code postal" type="number" min="0">
        <input formControlName="ville" placeholder="Ville">
        <select formControlName="pays">
          <option *ngFor="let p of listePays" value={{p}}>{{p}}</option>
        </select>
      </form>
      <p *ngIf="nopeAdresse">{{nopeAdresse}}</p>
      <p *ngIf="successAd">Adresse ajoutée</p>
      <button (click)="onAddAdresse()">Ajouter adresse</button>
    </section>
    <br>
  </section>
  <br>
  <button (click)="onShowAddSection()">Ajouter un client</button>
  <section *ngIf="showAdd" class="ajouter">
    <form [formGroup]="formulaireAdd" (ngSubmit)="onAdd()">
      <label of="nomClient">Nom</label>
      <input formControlName="nomClient"> <br>
      <label of="prenomClient">Prénom</label>
      <input formControlName="prenomClient"> <br>
      <label of="telephoneClient">Téléphone</label>
      <input formControlName="telephoneClient" type="number" min="0"> <br>
      <label of="dateNaissanceClient">Date de naissance</label>
      <input formControlName="dateNaissanceClient" type="date">
      <br>
      <button type="submit" [disabled]="formulaireAdd.pristine || formulaireAdd.invalid">Ajouter</button>
    </form>
    <p *ngIf="nope && !success">{{ nope }}</p>
    <p *ngIf="success && !nope">Client ajouté !</p>
  </section>
</section>
